
.mainnews{
    margin-top: 30px;
    border-top: 1px solid black;
}


/*******container___first__links*******/

.mainnews-links {
    margin-top: 24px;
    margin-left: 10px;
 
}

.mainnews-links a{
    text-decoration: none;
    font-family: ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding-right: 40px;

  
    align-items: center;
    text-transform: uppercase;


    color: #0F0E09;
    opacity: 0.7;
}

.mainnews-links a:nth-child(2){
    padding-right: 30px;
}

/*******container___first__links*******/


/*******container___first__title*******/

.mainnews-title{
    margin-top: 25px;
    color: #0F0E09;
}


.mainnews__content{
    width: 100%;
    margin-top: 60px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  
}


.mainnews__content__article{ 
    width: 75%;
    margin-right: -40px;
    justify-content: flex-end;
}

.mainnews__content__article img{
    width: 100%;
    object-fit: cover;
}



.mainnews__content__article-title{
color: #0F0E09;
margin-top: 48px;
}

.mainnews__content__article-text{
    margin-top: 12px;
    color: #0F0E09;
    width: 60%;

}

/*******container___first__title*******/




/*******conversations*******/

.conversations{
    margin-top: 137px;
   
}

.conversations__title{
    color: #0F0E09;

    padding-bottom: 2vh;
    border-bottom: 1px solid black;

}


.conversations__articles{
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conversation__articles-card{
    width: 32.6%;
}

.conversation__articles-card img{
    width: 100%;
    object-fit: cover;
}

.conversation__articles-title{
    color: #0F0E09;
    margin-top: 18px;
}

.conversation__articles-text{
    margin-top: 12px;
    color: #0F0E09;
    width: 80%;
    
}

/*******conversations*******/


/*******container__stories*******/

.stories{
    margin-top: 94px;
    border-top: 1px solid black;
}

.stories__article{
    margin-top: 42px;
    border-bottom: 1px solid black;
    padding-bottom: 52px;
    display: flex;
    width: 100%;
}

.stories__article-image{
    width: 50%;
    padding-right: 24px;
}

.stories__article-image img{
  width: 100%;
  object-fit: cover;
}

.stories__article-story{
    width: 50%;
    padding-left: 24px;
}

.stories__article-title{
    color: #0F0E09;
    margin-top: 45px;
}

.stories__article-text{
    margin-top: 12px;
    color: #0F0E09;
    width: 85%;
}

/*******container__stories*******/

/*******container__second__content*******/

.second__news{
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.second__news-article{ 
    width: 75%;
    margin-right: -40px;
    justify-content: flex-end;
}

.second__news-article img{
    width: 100%;
    object-fit: cover;
    margin-top: 42px;
}

/*******container__second__content*******/

.staff-picks{
    margin-top: 174px;
}

.staff-picks-title{
    color: #0F0E09;

    border-bottom: 1px solid black;
    padding-bottom: 19px;
}

.staff-picks__articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staff-picks__article-card{
    width: 49.5%;
    margin-top: 42px;
    padding-bottom: 84px;
}

.staff-picks__article-image img{
    width: 100%;
    object-fit: cover;
}

.staff-picks__article-title{
    color: #0F0E09;
    margin-top: 18px;
}

.staff-picks__article-text{
    margin-top: 12px;
    color: #0F0E09;
    width: 95%;
}


.show__more{
    color: #0F0E09;

    margin-top: 16px;
    text-align: end;
}



.mobile__news{
    display: none;
}