@font-face {
    font-family: ABCFavoriteMono;
    src: url(./assets/fonts/ABCFavoritMono-Light.woff);
 }

 @font-face {
    font-family: ABCFavoriteTrial;
    src: url(./assets/fonts/ABCFavorit-Regular.woff);
 }

 @font-face {
    font-family: ABCFavoriteTrialLight;
    src: url(./assets/fonts/ABCFavorit-Light.woff);
 }

 @font-face {
    font-family: ABCArizonaMixLight;
    src: url(./assets/fonts/ABCArizonaMix-Light.woff);
 }

 @font-face {
    font-family: ABCArizonaMixRegular;
    src: url(./assets/fonts/ABCArizonaMix-Regular.woff);
 }

 @font-face {
    font-family: Manu;
    src: url(./assets/fonts/ManuInformal.woff);
 }

 @font-face {
    font-family: ABCFavoriteBold;
    src: url(./assets/fonts/ABCFavorit-Bold.woff);
 }





body{
    margin: 30px 40px 30px 40px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #FCFCF5;
}


/*------NAVIGATION -----*/
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav__left__text{
    font-family: ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #0F0E09;
    opacity: 0.4;
    text-transform: uppercase;

}

.nav__left__links a{
    text-decoration: none;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #0F0E09;
    padding-right: 50px;
}


.nav__right__links a{
    text-decoration: none;
    font-family: ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #0F0E09;
    text-transform: uppercase;
    padding-left: 36px;
    
}

.nav__right__text{
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #0F0E09;
    text-align: end;
    
}

/*------NAVIGATION -----*/

/*--------IMG1-------*/

.img1{
    margin-top: 31px;
    display: flex;
}


.img1__background{
    width: 100%; 
    position: relative;
}

.img1__background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(73.81deg, rgba(15, 14, 9, 0.3) 36.4%, rgba(15, 14, 9, 0) 78.65%);
}

.img1__background img{
    width: 100%;
    object-fit: cover;
}

.img1__text{ 
    position: absolute;
    bottom: 12.75rem;
    left: 2.875rem;
    font-family: ABCArizonaMixLight;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 80px;
    width: 80%;
    z-index: 1;
   
}

.img1__description{
    color: #FCFCF5;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 30px;
    z-index: 1;

    position: absolute;
    bottom: 9.875rem;
    left: 2.875rem;
}

.img1__button{
    width: 169px;
    height: 44px;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #0F0E09;
    z-index: 1;
    

    background: #FCFCF5;
    border-radius: 6px;

    position: absolute;
    bottom: 5.625rem;
    left: 2.875rem;
}

.img1__button img{
    width: auto;
    height: auto;


}

.img1__signature{
    font-family: Manu;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #FCFCF5;
    position: absolute;
    bottom: 12px;
    right: 15px;
    z-index: 1;
  
}
/*--------IMG1-------*/

/*--------GALLERY-------*/

.gallery{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
   
}

.gallery__left{
    width: 50%;
    margin-right: 0.6875em;
    position: relative;
}

.gallery__right{
    width: 50%;
    margin-left: 0.6875em;
    justify-content: end;
}

.left__text{
        font-family: ABCFavoriteTrialLight;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
    }

.left__signature{
    margin-top: 1em;
    float: right;
    font-family: Manu;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #1082B3;;
}

.left__img{
    margin-top: 13.75em;
}

.left__img img{
    width: 100%;
}

.right__img img {
    width: 100%;
}

.right__signature{
    margin-top: 18.5vh;
    float: right;
    font-family: Manu;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #1082B3;;
}

.right__text{
        margin-top: 29vh;
        font-family: ABCFavoriteTrialLight;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        margin-right: 0px;
        padding-right: 0px;
}

.right__text a{
    font-family: ABCArizonaMixRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.underline{
    font-family: ABCFavoriteTrialLight;
    text-decoration: none;
	padding-bottom: 2px;
	background: url(./assets/images/underline.png) bottom repeat-x;
}
/*--------GALLERY-------*/

/*--------OUR RANGE-------*/
.our__range{
    margin-top: 13.2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
    font-family: ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
}

/*--------OUR RANGE-------*/

/*--------BANNER-------*/

.banner{
    margin-top: 3.2vh;
    display: flex;
    flex-direction: column;
}

.img2{
    width: 100%;
    position: relative; 
}

.img2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(359.78deg, rgba(15, 14, 9, 0.3) 10.87%, rgba(15, 14, 9, 0) 42.38%);
}


.img2 img{
    width: 100%;
    object-fit: cover;
}

.img2__desc{
    width: 40%;
    margin-bottom: 0px;
    padding-bottom: 0px;

    position: absolute;
    bottom: 5.625rem;
    right: 10.34375rem;
    z-index: 1;
}

.img2__signature{
    font-family:ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FCFCF5;
}

.img2__text{
    margin-top: 5px;
    font-family: ABCArizonaMixTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 66px;
    letter-spacing: -0.03em;
    color: #FCFCF5;
}

.img2__button{
    margin-top: 30px;
    width: 199px;
    height: 44px;
    background: #FCFCF5;
    border-radius: 6px;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.img3{
    margin-top: 3.2vh;
    width: 100%;
    position: relative;
}


.img3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(359.78deg, rgba(15, 14, 9, 0.3) 10.87%, rgba(15, 14, 9, 0) 42.38%);
}

.img3 img{
    width: 100%;
    object-fit: cover;
}

.img3__desc{
    width: 40%;
    margin-bottom: 0px;
    padding-bottom: 0px;

    position: absolute;
    bottom: 5.625rem;
    left: 16.875rem;
    z-index: 1;
}

.img3__signature{
    font-family:ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FCFCF5;
}

.img3__text{
    margin-top: 5px;
    font-family: ABCArizonaMixTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 66px;
    letter-spacing: -0.03em;
    color: #FCFCF5;
}

.img3__button{
    margin-top: 30px;
    width: 108px;
    height: 44px;
    background: #FCFCF5;
    border-radius: 6px;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*--------BANNER------*/



/*--------EXPLORE------*/
.explore{
    margin-top: 13.16vh;
    text-align: right;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 30px;   
}

.explore__underline{
    border-bottom: 1px solid #1082B3;
}

.explore img{
    width: auto;
    
}

.explore__signature{
    margin-top: 37px;
    font-family: Manu;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #1082B3;
    text-align: left;
    float: right;
    padding-right: 75px;
}

/*--------EXPLORE------*/

/*--------DISCOVER------*/

.discover{
    margin-top: 205px;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 108px;
    letter-spacing: -0.05em;
    font-feature-settings: 'ss03' on;
    color: #0F0E09;
    padding-bottom: 39px;
    border-bottom: 1px solid #0F0E09;
}

/*--------DISCOVER------*/

/*--------GALLERY2------*/

.gallery2{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.gallery2__img img{
    width: 100%;
}

.gallery2__title{
    margin-top: 18px;
    font-family: ABCArizonaMixRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 105%;
    color: #0F0E09;
}

.gallery2__text{
    margin-top: 12px;
    width: 90%;
    font-family:  ABCFavoriteTrial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*--------GALLERY2------*/


/*--------FOOTER------*/

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
    border-top: 1px solid black;
}

.footer__logo{
    width: 50%;
    margin-top: 89px;
  
}

.footer__links{
    width: 50%;
    margin-top: 89px;
    padding: 0px;
    padding-left: 152px;
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    
}

.footer__links a{
    text-decoration: none;
    margin-bottom: 42px;
    color: #0F0E09;
}

.footer__links a:hover{
    color: #0F0E09;
    opacity: 0.8;
    border-bottom: 1px solid #1082B3;
}


/*--------FOOTER------*/

/*--------LINK------*/

.link{
    display: flex;
    justify-content: space-between;
}

.link__logo{
    width: 50%;
    padding-top: 198px;
    
}

.link__logo a{
    padding-right: 15.25px;
}

.link__text{
    width: 50%;
    display: flex;
    padding-left: 152px;
    margin-top: 120px;
}

.link__text__info{
    padding-right: 117px;
    font-family: ABCFavoriteTrialLight;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*--------LINK------*/

/*------RFADEN-----*/

.rfaden{
    
    margin-left: -40px !important;
    margin-right: -40px !important;
    margin-top: 35px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 31px;
    padding-bottom: 31px;
    
    font-family: ABCFavoriteBold;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 108px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

}

/*------RFADEN-----*/

/*------TERMS-----*/
.terms{
    margin-top: 21px;
    padding-bottom: 80px;
}
.terms a{
    text-decoration: none;
    font-family: ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #0F0E09;
    text-transform: uppercase;
    padding-right: 42px;
    
}

/*------TERMS-----*/



.mobile{
    display: none;
}

.overlay{
    display: none;
}

.row{
    display: none;
}