@font-face {
    font-family: ABCFavoriteMono;
    src: url(./assets/fonts/ABCFavoritMono-Light.woff);
 }

 @font-face {
    font-family: ABCFavoriteTrial;
    src: url(./assets/fonts/ABCFavorit-Regular.woff);
 }

 @font-face {
    font-family: ABCFavoriteTrialLight;
    src: url(./assets/fonts/ABCFavorit-Light.woff);
 }

 @font-face {
    font-family: ABCArizonaMixLight;
    src: url(./assets/fonts/ABCArizonaMix-Light.woff);
 }

 @font-face {
    font-family: ABCArizonaMixRegular;
    src: url(./assets/fonts/ABCArizonaMix-Regular.woff);
 }

 @font-face {
    font-family: Manu;
    src: url(./assets/fonts/ManuInformal.woff);
 }

 @font-face {
    font-family: ABCFavoriteBold;
    src: url(./assets/fonts/ABCFavorit-Bold.woff);
 }


 h1, .h1{
    font-family: ABCArizonaMixLight;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.07em;
 }

 h2, .h2{
    font-family: ABCFavoriteTrial;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.05em;
 }

 h3, .h3{
    font-family: ABCFavoriteTrialLight;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
 }

 .h3-bold{
    font-family: ABCFavoriteTrial;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    letter-spacing: 0em;

 }

 h4, .h4{
    font-family: ABCFavoriteMono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
    
    text-transform: uppercase;
 }

 .headline1{
    font-family: ABCArizonaMixLight;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.03em;
 }

 .headline2{
    font-family: ABCArizonaMixLight;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 66px;
    letter-spacing: -0.03em;
 }

 .title{
    font-family: ABCArizonaMix;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 105%;
    letter-spacing: -0.02em;   
 }

 .text{
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    font-feature-settings: 'ss03' on;
 }

 .subtitle{
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
 
    font-feature-settings: 'ss03' on;
 }

 .subtitle2{
    font-family: ABCFavoriteMono;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    text-transform: uppercase;
 }

 .handwrite{
    font-family: Manu;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'onum' on;
 }

 .quote{
    font-family: ABCFavoriteTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 108px;
    letter-spacing: -0.05em;
    font-feature-settings: 'ss03' on;
 }

 .name{
    font-family: ABCArizonaMixLight;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
 }

 .price{
    font-family: ABCFavoriteMono;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
 }